a {
  text-decoration: underline;
}

#questions {
  width: 87%;
  max-height: 85vh;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.questions-search {
  width: 95%;
  padding: 10px 35px 10px 15px;
  border: solid black 1px;
}

.questions-search-form {
  display: flex;
  flex-direction: row;
}

.question-search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.answer-feed {
  max-height: 50vh;
  overflow-y: scroll;
}
.answer-feed::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.question-feed {
  overflow-y: scroll;
  max-height: 77vh;
}
.question-feed::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}


.answer {
  border-bottom: solid grey 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.question-line {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}


.qa-title {
  padding-bottom: 10px;
}

.qspacer {
  padding-left: 7px;
  padding-right: 7px;
}

.qyes {
  padding-left: 7px;
}

.answer-loader {
  padding-top: 10px;
}

.answer-container {
  display: grid;
  grid-template-columns: 2em auto;
  padding-top: 10px;
}

.answer-tag {
  padding-top: 5px;
}

#app h1 {
  color: #E8B90E;
}

.answer-modal-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 400px;
  width: 500px;
}

.answer-close {
  margin-bottom: 10px;
}