a {
  text-decoration: underline;
}

#questions {
  width: 87%;
  max-height: 85vh;
}
.questions-search {
  width: 95%;
  padding: 10px 35px 10px 15px;
  border: solid black 1px;
}

.questions-search-form {
  display: flex;
  flex-direction: row;
}

.question-search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
}

.answer-feed {
  max-height: 50vh;
  overflow-y: scroll;
}

.question-feed {
  overflow-y: scroll;
  max-height: 77vh;
}

.answer {
  border-bottom: solid grey 1px;
}

.question-line{
  display: flex;
  justify-content: space-between;
}

