
#rev-container {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  /* overflow-y: scroll; */
}

#rev-summary-list-divider {
  width: 100%;
  display: flex;
  flex-shrink: 0;
  overflow: scroll;
}

.rev-header {
  margin-bottom: 5px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary {
  width: 300px;
  flex-shrink: 0;

}

@media (max-width: 958px){
  .summary .list{
    width: 100%;
    flex-shrink: 1;
  }

}

.list {
  /* width: 600px; */
  flex-shrink: 0;
  /* max-height: 90vh; */
  /* border-bottom: solid black */
}

.rev-list-container {
  width: 700px;
  flex-shrink: 0;
  max-height: 75vh;
  overflow-y: scroll;
  position:relative;
}

.rev-list-container::-webkit-scrollbar {
  width: 0.7em;
  background: inherit;
  opacity: 0.6
}

.rev-list-container::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: inherit;
}

.rev-list-container:hover::-webkit-scrollbar-thumb {
  background: grey;
}

.rev-entry {
  border-bottom: solid grey 1px;
}

.rev-star-date {
  display: flex;
  width:100%;
  justify-content: space-between;
}

.rev-rec {
  padding: 15px 0 15px 0;
}

.rev-sort-form {
  display: inline;
  margin: 3px
}

.rev-sort-label {
  text-decoration: underline;
}

.rev-form-select {
  background-color: transparent;
  border: 0px;
  text-decoration: underline;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  width: auto;
}

.buttons-container {
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.modal {
  margin: auto;
  position: fixed;
  background: inherit;
}

.modal-pop {
  border: 2px solid #aaa;
  border-radius: 5px;
  z-index: 100;
  margin: auto;
  overflow-y: scroll;
  overflow: scroll;
  /* padding: 1em 2em 2em; */
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 85%;
  max-height: 75%;
  min-height: 30%;
  min-width: 30%;
  transform: translate(-50%, -50%);
}

.modal-pop::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0, 0, 0);
  opacity: 0.75;
}

.modal-photo {
  width: 100%;
  height: 100%;
}

.thumbnails-container {
  display: flex;
}

.thumbnail {
  margin: 3px;
}

.photo-modal-close {
    position: absolute;
    background: #C81D11;
    color: white;
    border-radius: 5px;
    margin-left: auto;
    margin-right: 1px;
    top: 0px;
}

/* STAR RATINGS */

.star {
  transition: color 200ms;
  text-shadow: 0 0 3px #000;
}

.stars-container input[type="radio"] {
  display: none;
}

.static-stars svg {
  stroke: #333;
  stroke-width: 20px;
  fill: #C5D7D9;
}

.dynamic-stars svg {
  stroke: #333;
  stroke-width: 20px;
}


/* REVIEW MODAL */

.rev-modal-pop {

  border: 2px solid #aaa;
  border-radius: 5px;
  z-index: 25;
  margin: auto;
  padding: 20px;
  overflow-y: scroll;
  overflow: scroll;
  /* padding: 1em 2em 2em; */
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 100%;
  height: 70%;
  min-height: 30%;
  min-width: 40%;
  transform: translate(-50%, -50%);
}

.rev-modal-form {
  width: 100%;
  flex-shrink: 0;
}
div.radio-box {
  width: 70px;
  display: inline-block;
  margin: 5px;

}
.radio-box label {
  display:block;
  width: 70px;
  height: 9px;
  text-align: center;
}
.radio-box input {
  width: 20px;
  display: block;
  margin: 0px auto;
}

.all-radio-container {
  border-bottom: solid grey 1px;
}

.rev-body-input {
  resize: none;
  height: 84px;
  width: 250px;
  font-family: inherit;
}

.star-bars-container {
  height: 50%;
  display: flex-column;
  justify-content: space-between;
}

.average-and-stars {
  display: flex;
  width: 100;
  align-items: center;
  justify-content: flex-start;
}

.bar-border {
  border: solid grey 1px;
  width: 60%;
  margin-left: 10px;
  height: 10px;
  background-color: lightgrey;
  margin-right: 10px;
}

.percentage-bar {
  height: 10px;
  background-color: #367c2b;
}

.char-range {
  width: 280px;
 }

 .arrow-down {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgb(85, 84, 84);
}


.bar {
  height: 10px;
  background: lightgrey;
  border: solid grey 1px;
  position: relative;
  width: 33%;
}

.char-bar-descr {
  display: flex;
  justify-content: space-between
}

.bar-container {
  display: flex;
  justify-content: space-between;
}

.linear-gradient-template {
  width: 0;
  height: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0c6ab6;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

.slider.round:before {
  border-radius: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
