.view-main {
  position: relative;
    top: 80px;
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(10, minmax(0, 1fr));
  width: 100%;
  padding: 20px;
}

@media (max-width: 958px) {
  .view-main {
    position: relative;
    top: 80px;
  box-sizing: border-box;
  display: grid;
  /* grid-template-columns: repeat(10, 1fr); */
  grid-template-columns: repeat(10, minmax(0, 1fr));
  grid-template-rows: repeat(9, minmax(0, 1fr));
  width: 100%;
  padding: 20px;
  }

}

.dropdown-size-container {
  /* grid-column-start: 1;
  grid-column-end: 6; */
/* width: 50%; */
width: 330px;
}

.dropdown-qty-container {
  /* grid-column-start: 7;
  grid-column-end: -1; */
  width: 150px;
}

#dropdown-ul-component {
  width: 15px;
}

.close-out-expanded-view {
  position: fixed;
  top: 0px;
  right: 0px;
};

.static-stars svg {
  stroke: #333;
  stroke-width: 20px;
  fill: #C5D7D9;
}


/* .expanded-photo-left {
  position: relative;
  left: 150px;
};
className='icon-styled'
.expanded-photo-right {
  position: relative;
  left: -150px;
};
 */
